body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1{
    color: darkblue;
}

.todo-container{
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

input{
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    padding: 10px 15px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

ul{
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 20px;
}

li{
    list-style: none;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-align: left;
    margin-top: 20px;
}