body{
    background-color: #f4f4f4 ;
}

div{
    background-color: white;
    width: 300px;
    border: 1px solid #cccccc;
    box-shadow: 0px 2px 5px #cccccc;
    margin:auto;
    text-align: center;
}